main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbf7f2;
  height: 720px;
  width: 100%;
  padding-top: 60px;
}

.content-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin-right: 20px;
}

.content-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 130%;
  margin-bottom: 30px;
  text-align: left;
  width: 500px;
}

.content-sub {
  font-size: 17px;
  line-height: 130%;
  width: 500px;
}

.img {
  width: 500px;
}

.content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 720px;
  width: 100%;
}
.content-text-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin-left: 200px;
}

.content-title-2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 130%;
  margin-bottom: 30px;
  text-align: left;
  width: 500px;
}

.more-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 500px;
}
.popular {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f1f3f5;
  border-radius: 5px;
  background-color: #f1f3f5;
  margin-top: 30px;
  margin-right: 20px;
  width: 175px;
  height: 55px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.popular:hover {
  background-color: #e7ebeb;
}

.trust {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f1f3f5;
  border-radius: 5px;
  background-color: #f1f3f5;
  margin-top: 30px;
  width: 250px;
  height: 55px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.trust:hover {
  background-color: #e7ebeb;
}

.content-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6f3e6;
  height: 720px;
  width: 100%;
}

.content-3-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 13px;
  width: 500px;
  margin-top: 50px;
  line-height: 130%;
}

.content-3-icon {
  margin-right: 20px;
  width: 200px;
}

.sub {
  margin-top: 10px;
}

.content-5 {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #f8f9fa;
  height: 1200px;
  width: 100%;
  flex-direction: column;
}

.hot-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 45px;
  margin-top: 130px;
}

.wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}

.item-info {
  margin-top: 50px;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 210px;
  height: 320px;
  border-radius: 10px;
  flex-direction: column;
}

.item-info-img {
  width: 210px;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
}

.item-info-img img {
  width: 100%;
}

.item-info-title {
  margin-top: 10px;
  font-size: 16px;
}

.item-info-price {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
.item-info-place {
  margin-top: 10px;
  font-size: 14px;
}
.item-info-like {
  margin-top: 5px;
  font-size: 12px;
  color: #868e96;
}

.see-more {
  margin-top: 50px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
